html, body {
    background-color: #1a1b26;
    color: #f4ece0;
    overflow-y: auto;

    border: 1px solid #ccc;
    border-radius: 10px;

    width: 300px; 
    height: 400px; 
    
    margin: 0;
    padding: 0;
}


body, h1, p, button {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

/* Imposta il contenitore principale */
.container {
    display: flex;
    flex-direction: column;

    padding: 20px;
}

/* Struttira principale pagina */
header h1 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}


main {
    align-items: center;
    justify-content: center;
    text-align: center;
}

main p {
    font-size: 14px;
    margin-bottom: 20px;
}

footer {
    padding-top: 20px;
    text-align: center;
    font-size: 12px;
    color: #666;
    border-top: 1px solid #2f3435;
    width: 100%;
    position: relative;
}

p.menu {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #2f3435;
    font-weight: bold;
}

.grid {
    display: grid;
    /* border: 1px solid red; */
    height:50vh;
    gap: 10px;
}

.grid > .row {
    /* border: 1px solid blue;  */
    min-height: max-content;
    display: inline-flex;
}

.row > div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center
}

.row > div:nth-child(1) {
    /* border: 1px solid green; */
    width: 70%;
}

.row > div:nth-child(2) {
    /* border: 1px solid green; */
    width: 30%;
}

.section-grid-element {
    background-color: #202733;
    border-radius: 20px;
}

.section-grid-element:hover {
    background-color: #22264d;
    cursor: pointer;
}